

body {
    font-family: Arial, sans-serif;
    background-color: rgb(250, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.login_box {
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #b4bfb6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}   

button:hover {
    background-color: #9aa89f;
}

a {
    display: block;
    margin-top: 15px;
    color: #007BFF;
    text-decoration: none;
}